! #include "/home/dean/.colors/gotham"
#include "/home/dean/.colors/nord"

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96
Xcursor.theme: DMZ-White
XTerm*locale: true
XTerm*utf8: 1
XTerm*renderFont: true

XTerm*faceName: Fira Mono for Powerline:style=Medium
XTerm*faceSize: 10

xterm*loginshell: true
xterm*savelines: 500
! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*scrollTtyOutput: false
xterm*termName: xterm-256color
XTerm*ScrollKey: true
xterm*metaSendsEscape: true
XTerm*eightBitInput: False
xterm*bellIsUrgent: true

XTerm*VT100.Translations: #override \n\
	Shift<Key>Up: scroll-back(1) \n\
	Shift<Key>Down: scroll-forw(1)
<Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
